.search-wrapper {
    display: flex; /* can be change but is nice */
    flex-direction: column;  /* can be change but is nice */
    gap: .28rem; /* gap between "Crafting Suche" and search input */
}

input {
    font-size: 1rem; /* size from input field */
}

.item-cards {
    display: grid; /* pls leave like this */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* pls leave like this */
    gap: .25rem; /* gap between the cards */
    margin-top: 1rem; /* gap between Searchbar/Dropdown */
}



.innerCard { /* card formatting */
    background-color: gray;
    padding: .5rem;
    height: 8rem;
}

/* link formatting */
a {
    color: black;
}

/* remove default link formatting */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.innerCard > .header {/* Mod item name */
    margin-bottom: .25rem; 
}

.innerCard > .body {/* Mod item english Name */
    font-size: .8rem;
}

.innerCard > .mod {/* Mod from Items*/
    font-size: .8rem;
}

.innerCard > .img {/* crafting image*/
    font-size: .8rem;
}



.hide { 
    display: none; /* pls leave like this */
}

.hidemod {
    display: none; /* pls leave like this */
}