.search-wrapper {
    display: flex; /* can be change but is nice */
    flex-direction: column;  /* can be change but is nice */
    gap: .28rem; /* gap between "Crafting Suche" and search input */
}

input {
    font-size: 1rem; /* size from input field */
}

.item-cards {
    display: grid; /* pls leave like this */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* pls leave like this */
    gap: .25rem; /* gap between the cards */
    margin-top: 1rem; /* gap between Searchbar/Dropdown */
}

.card { /* card formatting */
    border: 1px solid black;
    background-color: gray;
    padding: .5rem;
}

.card > .header {/* Mod item name */
    margin-bottom: .25rem; 
}

.card > .body {/* Mod item english Name */
    font-size: .8rem;
    color: white;
}

.card > .mod {/* Mod from Items*/
    font-size: .8rem;
}

.card > .img {/* crafting image*/
    font-size: .8rem;
}



.hide { 
    display: none; /* pls leave like this */
}

.hidemod {
    display: none; /* pls leave like this */
}